<div class="container mt-5">
  <h2>Create Post</h2>
  <form (ngSubmit)="f.form.valid && onSubmit()" class="needs-validation" #f="ngForm" novalidate>
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" class="form-control " id="name" [(ngModel)]="products.name" name="name">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <textarea class="form-control" id="description" [(ngModel)]="products.description" name="description" required
                #description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }"></textarea>
      <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
        Please provide a valid description.
      </div>
    </div>

    <!-- <div class="mb-3">
      <label for="imageUrl" class="form-label">Image URL:</label>
      <input type="text" class="form-control " id="imageUrl" [(ngModel)]="products.imageUrl" name="imageUrl">
    </div> -->

    <div class="mb-3">
      <label for="price" class="form-label">Price:</label>
      <input type="number" class="form-control " id="price" [(ngModel)]="products.price" name="price">
    </div>

    <div class="mb-3">
      <label for="productEmail" class="form-label">Product Email:</label>
      <input type="text" class="form-control " id="productEmail" [(ngModel)]="products.productEmail" name="productEmail">
    </div>

    <div class="mb-3">
      <label for="categoryId" class="form-label">Category ID:</label>
      <input type="number" class="form-control " id="categoryId" [(ngModel)]="products.categoryId" name="categoryId">
    </div>

    <div class="mb-3">
      <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="text-danger">{{msg}}</div>
</div>
