.product img {
    max-width: 200px; /* Adjust the maximum width as needed */
    max-height: 200px; /* Adjust the maximum height as needed */
}
.button-container {
    margin-top: 10px; /* Adds some margin from the top */
    display: inline-block; /* Allows the container to respect the margin */
}

.form-group {
    margin-bottom: 10px; /* Adds space below the form groups */
}



