<div class="container">
    <table class="table" *ngIf="isUserExist">
        <tr>
            <td>User Name</td>
            <td>
                <input type="text" [(ngModel)]="user.userName" class="form-control">
            </td>
        </tr>
        <tr>
            <td>User Email</td>
            <td>
                <input type="email" [(ngModel)]="user.email" class="form-control">
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" [(ngModel)]="user.password" class="form-control">
            </td>
        </tr>
        <tr>
            <td>User Role</td>
            <td>
                <input type="text" [(ngModel)]="user.role" readonly class="form-control">
            </td>
        </tr>
        <tr>
            <td>User Address</td>
            <td>
                <input type="text" [(ngModel)]="user.address" class="form-control">
            </td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td>
                <input type="tel" [(ngModel)]="user.phoneNumber" class="form-control">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn btn-primary" (click)="edit()">Edit</button> &nbsp;
            </td>
        </tr>
    </table>
</div>
